// Шрифты
@font-face {
  font-family: 'Tetris';
  src: url('../assets/fonts/Tetris.woff2') format('woff2'),
    url('../assets/fonts/Tetris.woff') format('woff'),
    url('../assets/fonts/Tetris.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
